.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
    background-color: #f3e8ee;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #729B79;
  color: white;
}

h1 {
  color: #475b63;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  cursor: pointer;
}



ul {
  list-style: none;
  padding: 5px;
  line-height: 15px;
}
 a {
  text-decoration: none;
  color: black;
 }

 .green {
   color: green;
 }

 .red {
   color: red;
 }